.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
  color: #4b4f56;
}

.input-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid #dddfe2;
  border-radius: 6px;
  font-size: 16px;
  box-sizing: border-box;
}

.input-group input:focus {
  outline: none;
    border-color: #8e44ad;
    box-shadow: 0 0 0 2px #e8d7f2;
}

.input-group input.error-border {
    border-color: #d93025;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #9b59b6;
  border: none;
  border-radius: 6px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.2s;
}

.main-btn:hover:not(:disabled) {
  background-color: #8e44ad;
}

button:disabled {
  background-color: #cfa8e0;
  cursor: not-allowed;
}

.error-message {
  color: #d93025;
  background-color: #fbeae9;
  border: 1px solid #d93025;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 14px;
}

.separator {
  display: flex;
  align-items: center;
  justify-content: center;
    gap: 5px;
  width: 100%;
  color: #8a8d91;
  margin: 20px 0;
  text-decoration: none;
}

a {
    color:#8e44ad;
}

.separator a {
    text-decoration: none;
}


.separator a:hover {
    color: #6c3483;
}

.separator a:visited {
    color: transparent; 
}

.error-list {
  color: #d93025;
  font-size: 12px;
  margin-top: 5px;
  font-style: italic;
}

.error-list div {
  margin-bottom: 2px;
}

.login-link {
    text-align: center;
    margin-top: 20px;
}
